obj\Debug\DesignTimeResolveAssemblyReferences.cache
obj\Debug\DesignTimeResolveAssemblyReferencesInput.cache
obj\Debug\ProcessManagement.pdb
obj\Debug\ProcessManagement.Resources.resources
obj\Debug\ProcessManagement.SC_K13.resources
obj\Debug\ProcessManagement.vbproj.CoreCompileInputs.cache
obj\Debug\ProcessManagement.vbproj.FileListAbsolute.txt
obj\Debug\ProcessManagement.vbproj.GenerateResource.cache
obj\Debug\ProcessManagement.vbprojAssemblyReference.cache
obj\Debug\ProcessManagement.xml
