#binの一部ファイルをGitHubにCommit必要ではないため、下記ファイルがGitHubのChangesに表示しない
#表示したいであれば、対応するpathを削除してください。
bin\Debug\ProcessManagement.exe.config
bin\Debug\ProcessManagement.pdb
bin\Debug\ProcessManagement.xml

#objの一部ファイルをGitignore
obj\Debug\DesignTimeResolveAssemblyReferences.cache
obj\Debug\DesignTimeResolveAssemblyReferencesInput.cache
obj\Debug\ProcessManagement.pdb
obj\Debug\ProcessManagement.Resources.resources
obj\Debug\ProcessManagement.SC_K13.resources
obj\Debug\ProcessManagement.vbproj.CoreCompileInputs.cache
obj\Debug\ProcessManagement.vbproj.FileListAbsolute.txt
obj\Debug\ProcessManagement.vbproj.GenerateResource.cache
obj\Debug\ProcessManagement.vbprojAssemblyReference.cache
obj\Debug\ProcessManagement.xml
obj\Debug\TempPE\My Project.Resources.Designer.vb.dll
